<!doctype html>
<html class="sl-theme-light" lang="<%= site.locale %>">
  <head>
    <meta name="version-number" content="<%= version_number %>">
    <%= render "head", metadata: site.metadata, title: resource.data.title %>
  </head>
  <body class='<%= "#{resource.data.layout} #{resource.data.page_class}" %>' data-controller="search">
    <kr-layout main-id="main">
      <%= render "top_nav", metadata: site.metadata %>

      <%= yield %>

      <%= render "footer", metadata: site.metadata %>

    </kr-layout>

    <%= render "side_nav_mobile" %>
    <bridgetown-ninja-keys endpoint="<%= site.base_path %>/bridgetown_quick_search/index.json" highlight-matches></bridgetown-ninja-keys>
  </body>
</html>
